body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
	    min-height: 100vh;         
    display: flex;
    flex-direction: column;
}
.main {
    flex: 1;
}
.header {
  background-color: #59168b;
  color: white;
  display: flex;
  align-items: center;      
  justify-content: flex-start;
  gap: 12px;
  position: relative;
  height: 80px;
  padding: 10px 20px;
}

.header img {
    width: 150px;
    height: 50px;
    margin-left: 5px;
}

.header span {
    position: absolute;       
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
}


.container {
    display: flex;
	min-height: 80vh;
}

.sidebar {
    width: 25%;
    background-color: #e6e6e6;
    padding: 15px;
}

.sidebar a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

.sidebar a:hover {
    background-color: #ccc;
}

.content {
    width: 75%;
    padding: 20px;
}


.footer {
    background-color: #004aad;
    color: white;
    text-align: center;
    padding: 10px;
}
.sidebar,
.content {
    min-height: 100%;
}